<html>
<head>
<title>{{ data.squirrel_id }}</title>
</head>

<body>
<h2>{{ data.squirrel_id }}</h2>
<form action="" method="post">
{% csrf_token %}
  <p><input type="submit" name="update" value="Update"></p>
  <p><input type="submit" name="delete" value="Delete"></p>
  <p>Latitude: <input type="text" name="latitude" value={{ data.latitude }}></p>  
  <p>Longitude: <input type="text" name="longitude" value={{ data.longitude }}></p>
  <p>Unique Squirrel ID: <input type="text" name="squirrel_id" value={{ data.squirrel_id }}></p>
  <p>Shift:
    <select name="shift">
    <option value="AM" {% if data.shift == 'AM' %} selected="selected" {% endif %}>AM</option>
    <option value="PM" {% if data.shift == 'PM' %} selected="selected" {% endif %}>PM</option>
    </select></p>
  <p>Date: <input type="date" name="date" value={{ data.date|date:'Y-m-d' }}></p>
  <p>Age:
    <select name="age">
    <option value="Adult" {% if data.age == 'Adult' %} selected="selected" {% endif %}>Adult</option>
    <option value="Juvenile" {% if data.age == 'Juvenile' %} selected="selected" {% endif %}>Juvenile</option>
  </select></p>  
  <p>Color:
    <select name="color">
    <option value="Gray" {% if data.color == 'Gray' %} selected="selected" {% endif %}>Gray</option>
    <option value="Cinnamon" {% if data.color == 'Cinnamon' %} selected="selected" {% endif %}>Cinnamon</option>
    <option value="Black" {% if data.color == 'Black' %} selected="selected" {% endif %}>Black</option>
  </select></p>
  <p>Location:
    <select name="location">
    <option value="Ground Plane" {% if data.location == 'Ground Plance' %} selected="selected" {% endif %}>Ground Plane</option>
    <option value="Above Ground" {% if data.location == 'Above Ground' %} selected="selected" {% endif %}>Above Ground</option>
    </select></p>
  <p>Specific Location: <input type="text" name="specific_location" value={{ data.specific_location }}></p> 
  <p>Running:
    <select name="running">
    <option value=True {% if data.running == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.running == False %} selected="selected" {% endif %}>False</option>
    </select>
  </p>
  <p>Chasing:
    <select name="chasing">
    <option value=True {% if data.chasing == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.chasing == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Climbing:
    <select name="climbing">
    <option value=True {% if data.climbing == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.climbing == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Eating:
    <select name="eating">
    <option value=True {% if data.eating == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.eating == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Foraging:
    <select name="foraging">
    <option value=True {% if data.foraging == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.foraging == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Other Activities: <input type="text" name="other_activities" value={{ data.other_activities }} /></p>
  <p>Kuks:
    <select name="kuks">
    <option value=True {% if data.kuks == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.kuks == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Quaas:
    <select name="quaas">
    <option value=True {% if data.quaas == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.quaas == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Moans:
    <select name="moans">
    <option value=True {% if data.moans == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.moans == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Tail flags:
    <select name="tail_flags">
    <option value=True {% if data.tail_flag == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.tail_flag == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Tail twitches:
    <select name="tail_twitches">
    <option value=True {% if data.tail_twitches == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.tail_twitches == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Approaches:
    <select name="approaches">
    <option value=True {% if data.approaches == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.approaches == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Indifferent:
    <select name="indifferent">
    <option value=True {% if data.indifferent == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.indifferent == False %} selected="selected" {% endif %}>False</option>
  </select></p>
  <p>Runs from:
    <select name="runs_from">
    <option value=True {% if data.runs_from == True %} selected="selected" {% endif %}>True</option>
    <option value=False {% if data.runs_from == False %} selected="selected" {% endif %}>False</option>
  </select></p>
</form>
</body>
</html>
